<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
